image: python:3.11  

stages:
  - lint  
  - test

flake8:
  stage: lint  
  image: registry.gitlab.com/pipeline-components/flake8:latest 
  script:
    - pip install pep8-naming  
    - flake8 --verbose  

test: 
  stage: test
  script:
  - pip3 install -r requirements/prod.txt
  - pip3 install -r requirements/test.txt
  - cd lyceum
  - python3 manage.py test
