{% extends "base.html" %}
{% block content %}
  <h2>Список пользователей</h2>
  <ul>
    {% for user in users %}
      <li>
        <a href="{% url 'user_detail' user.id %}">
          {% if user.profile.image %}
            <img src="{{ user.profile.image.url }}" alt="avatar" width="50">
          {% endif %}
          {{ user.username }}
          {% if user.profile.birthday %}
            — {{ user.profile.birthday|date:"d.m" }}
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
