{% load static %}

<nav class="navbar navbar-expand-lg navbar-success bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'main_page' %}">
      <img src="{% static 'images/logo.png' %}" alt="Logo" width="50">
    </a>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'main_page' %}">На главную</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about:description' %}">О проекте</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if '/catalog/' in request.path %}active{% endif %}" href="{% url 'catalog:item_list' %}">Список товаров</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if '/feedback/' in request.path %}active{% endif %}" href="{% url 'feedback:feedback' %}">Обратная связь</a>
      </li>

      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if '/users/profile/' in request.path %}active{% endif %}" href="{% url 'profile' %}">Профиль</a>
        </li>
        <li class="nav-item">
          <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button class="nav-link btn btn-link" type="submit" style="padding: 0; margin-left: 10px;">Выйти</button>
          </form>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link {% if '/users/login/' in request.path %}active{% endif %}" href="{% url 'login' %}">Войти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if '/users/signup/' in request.path %}active{% endif %}" href="{% url 'signup' %}">Регистрация</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
