{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{% static 'images/logo.png' %}" alt="Logo" width="45">
      </a>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row gap-3">
          <li class="nav-item"><a class="nav-link" href="/">На главную</a></li>
          <li class="nav-item"><a class="nav-link" href="/about/">О проекте</a></li>
          <li class="nav-item"><a class="nav-link" href="/catalog/">Список товаров</a></li>
        </ul>
      </div>
    </div>
</nav>
