{% load static %}

<div class="card h-100">
  {% if item.main_image %}
    <img src="{{ item.main_image.url }}" class="card-img-top" alt="{{ item.name }}">
  {% else %}
    <img src="{% static 'images/photo.png' %}" class="card-img-top" alt="Заглушка">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ item.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ item.category.name }}</h6>
    <p class="card-text">{{ item.text|truncatewords:10 }}</p>
    <p>
      {% for tag in item.tags.all %}
        <span class="badge bg-secondary">{{ tag.name }}</span>
      {% endfor %}
    </p>
    <a href="{% url 'catalog:item_detail' item.pk %}" class="btn btn-primary">Подробнее</a>
  </div>
</div>
